.project-card{
    background-color: #03346E;
    border-radius: 10px;
    padding: 10px 25px;
    color:#6EACDA;
}

.colored{
    color:#E2E2B6;
    font-weight: bold;
}

.more-info{
    display: flex;
    justify-content: space-between;
    align-items:baseceline;
}

.more-info h2{
    padding-top: 15px;
}

.btn-details{
    background-color: #6EACDA;
    color: #021526;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.new-page-png img {
    width: 15px;
}

.team-members{
    padding-top: 0;
    margin-top: 0;
    overflow-y: scroll;
    height: 150px;
}
.team-members p {
    color: #6EACDA;
}

.team-cont h4{
    color:#FFC604;
}