.signup-form{
  background-color: whitesmoke;
  width: 70%;
  margin: 5% auto;
  color:#03346E;
  padding: 20px;
  border-radius: 15px;
}

.rows {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.row {
  color: #03346E;
  display: flex;
  flex-direction: column;
}

.row label {
  font-weight: 600;
  margin-bottom: 5px;
}

.row input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.row textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row select {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row textarea {
  resize: vertical;
  min-height: 50px;
}


button {
  width: 150px;
  height: 50px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: opacity 0.3s ease;
}

button:hover {
  opacity: 0.85;
}

.signup-logo{
  width: 250px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons-container-singup {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding-top: 50px;
}