.project-details{
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #03346E;
    color: white;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
}


.project-details p span {
    color:#E2E2B6;
}



.history div p {
    color: #E2E2B6;
}

.history div span {
    color: white;
}

.team-cont, .edit-name, .edit-desc, .edit-status {
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.team-cont input {
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
}

.team-cont h4, .history-cont h4 {
    font-size: larger;
    color: #E2E2B6;
}

.history-cont {
    gap: 20px;
}
.history{
    overflow-y: scroll;
    max-height: 600px;
}
.edit-status .status-btns {
    display: flex;
    gap: 40px
}

.edit-status > select:nth-child(1) {
    width: 60%;
    height: 50px;
    font-size: medium;
    border-radius: 10px;
}

.edit-status p{
    font-size: larger;
}

.edit-desc{
    display: flex;
    align-items: flex-start;

}
.edit-desc p {
    flex: 1;
    margin-top: 0;
    background-color: white;
    color: black;
    height: 140px;
    padding: 15px;
    font-weight: normal;
    border-radius: 15px;
}

.project-details-btn{
    background-color  :#6EACDA;
}

.team-row{
    display: flex;
    align-items: center;
    gap: 50px;
}

.team-row p{
    width: 20%;
    color: white;
}

.remove-btn {
    background-color: #6EACDA;
    color: #021526;
    height: 30px;
}

.edit-desc textarea {
    width: 80%;
    height: 140px;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
    padding-top: 15px;
}

.save-btn {
    background-color: #E2E2B6;
}

.cancel-btn {
    background-color: #6EACDA;
}

.edit-name > input:nth-child(1) {
    height: 30px;
    font-size: large;
}

.history-cont > select:nth-child(2) {
    height: 37px;
    font-size: medium;
}

.task-row {
    border: solid 1px #E2E2B6;
    border-radius: 10px;
    margin-top: 10px;
    padding: 1%;
    width: 60%;
}



.prjct-page{
    display: flex;
    margin: 2%;
    gap: 20px
}

.team-members-pr{
    padding-top: 0;
    margin-top: 0;
    overflow-y: scroll;
    height: 250px;
}